<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:cxf="http://cxf.apache.org/core"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/data/couchbase http://www.springframework.org/schema/data/couchbase/spring-couchbase.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

  <!-- Scan for Spring annotated classes-->
  <context:component-scan base-package="{{componentsPackage}}"/>

    <!-- Generic Jackson JSON Provider to (un)marshall JSON to annotated POJO's -->
    <bean id="jacksonJsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>

    <!-- Exception Handling -->
    <bean id="esbExceptionMapper" class="{{componentsPackage}}.exception.EsbExceptionMapper"/>

    <!-- Emty impl so it wil build, please add your own implementation-->
    <bean id="userProfileDAO" class="{{componentsPackage}}.security.dao.UserProfileDAOImpl" />

    <!-- Emty impl so it wil build, please add your own implementation-->
    <bean id="localAccountDAO" class="{{componentsPackage}}.security.dao.LocalAccountDAOImpl" />
    <!-- Scan for Spring annotated classes-->

    <!-- Emty impl so it wil build, please add your own implementation-->
    <bean id="classesService" class="{{componentsPackage}}.services.ClassesServiceImpl" />

    <!-- Emty impl so it wil build, please add your own implementation-->
    <bean id="departmentsService" class="{{componentsPackage}}.services.DepartmentsServiceImpl" />

    <!-- Emty impl so it wil build, please add your own implementation-->
    <bean id="employeeInfoService" class="{{componentsPackage}}.services.EmployeeInfoServiceImpl" />

    <!-- Emty impl so it wil build, please add your own implementation-->
    <bean id="employeeSearchService" class="{{componentsPackage}}.services.EmployeeSearchServiceImpl" />

    <!-- Emty impl so it wil build, please add your own implementation-->
    <bean id="gradeService" class="{{componentsPackage}}.services.GradeServiceImpl" />

    <!-- Emty impl so it wil build, please add your own implementation-->
    <bean id="studentInfoService" class="{{componentsPackage}}.services.StudentInfoServiceImpl" />

    <!-- Emty impl so it wil build, please add your own implementation-->
    <bean id="studentProgramService" class="{{componentsPackage}}.services.StudyProgramServiceImpl" />

    <!-- Emty impl so it wil build, please add your own implemantation-->
    <bean id="teacherService" class="{{componentsPackage}}.services.TeacherServiceImpl" />

    <!-- Emty impl so it wil build, please add your own implemantation-->
    <bean id="scheduleService" class="{{componentsPackage}}.services.TimeTableServiceImpl" />
</beans>

